---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { ChevronLeft } from "lucide-react";

import { Badge } from "@/components/ui/badge";
import { buttonVariants } from "@/components/ui/button";
import { cn, formatDate } from "@/lib/utils";
import Layout from "@/layouts/Layout.astro";

type Props = CollectionEntry<"blogs">;

const slug = Astro.props.slug;
const { title, description, date, cover, category } = Astro.props.data;
---

<Layout title={title} description={description}>
  <div class="relative container max-w-screen-md py-10">
    <button
      onclick="history.back()"
      class={cn(
        buttonVariants({ variant: "ghost" }),
        "absolute left-[-200px] top-10 hidden xl:inline-flex text-muted-foreground"
      )}
      transition:animate="slide"
    >
      <ChevronLeft className="mr-2 size-4" />
      {" "}Back
    </button>

    <article class="prose dark:prose-invert max-w-none">
      <a
        href={`/blog/category/${category}`}
        transition:name={`badge-cat-${slug}`}
      >
        <Badge className="capitalize">
          {category}
        </Badge>
      </a>
      <Image
        class="rounded-xl overflow-hidden my-6"
        width={720}
        height={360}
        src={cover}
        alt={title}
        transition:name={`img-${slug}`}
      />
      <div class="flex items-center justify-between">
        <span
          class="font-medium text-muted-foreground"
          transition:name={`date-${slug}`}
        >
          {formatDate(date)}
        </span>
      </div>
      <h1 class="font-heading text-4xl my-4" transition:name={`title-${slug}`}>
        {title}
      </h1>
      <hr class="my-6" />
      <slot />
    </article>
  </div>
</Layout>
