---
import { ClientRouter } from "astro:transitions";
import SpeedInsights from "@vercel/speed-insights/astro";

import { Toaster } from "@/components/ui/sonner";
import Header from "@/components/Header";
import "@/styles/globals.css";
import icon from "../../public/favicon.png";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
const year = new Date().getFullYear();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon2.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class="flex flex-col min-h-screen">
    <Header logo={icon} client:load />
    <slot />
    <Toaster richColors client:only="react" />
    <SpeedInsights />
    <footer class="py-6 w-full shrink-0 items-center px-4 md:px-6 border-t">
      <p class="text-xs text-gray-500 dark:text-gray-400">
        ©{year} Rac Wodiyamado.
      </p>
    </footer>
  </body>
</html>
