---
import { Image } from "astro:assets";
import { ViewTransitions } from "astro:transitions";

import { Button } from "@/components/ui/button";
import { Toaster } from "@/components/ui/sonner";
import "@/styles/globals.css";
import icon from "../../public/favicon.png";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
const year = new Date().getFullYear();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon2.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="flex flex-col min-h-screen bg-gray-100 dark:bg-gray-900">
    <header class="px-4 lg:px-6 h-14 flex items-center">
      <a class="flex items-center justify-center" href="/">
        <Image alt="Logo" class="w-48 h-28" src={icon} />
        <span class="sr-only">Rac Wodiyamado</span>
      </a>
      <nav class="ml-auto flex">
        <a href="/">
          <Button variant="link" className="text-sm font-medium">Home</Button>
        </a>
        <a href="/events">
          <Button variant="link" className="text-sm font-medium">
            Events
          </Button>
        </a>
        <a href="/blog">
          <Button variant="link" className="text-sm font-medium"> Blog </Button>
        </a>
        <a href="/gallery">
          <Button variant="link" className="text-sm font-medium">
            Gallery
          </Button>
        </a>
        <a href="/about">
          <Button variant="link" className="text-sm font-medium">
            About
          </Button>
        </a>
        <a href="/contact">
          <Button variant="link" className="text-sm font-medium">
            Contact
          </Button>
        </a>
      </nav>
    </header>
    <slot />
    <Toaster richColors client:only="react" />
    <footer class="py-6 w-full shrink-0 items-center px-4 md:px-6 border-t">
      <p class="text-xs text-gray-500 dark:text-gray-400">
        ©{year} Rac Wodiyamado.
      </p>
    </footer>
  </body>
</html>
